@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}
.moveBox {
  padding-right: 10px;
  min-width: 390px;
  max-height: 280px;
  display: grid;
  grid-template-columns: 180px auto;
  grid-template-rows: auto auto auto auto auto;
  column-gap: 20px;
  row-gap: 5px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.voteAverage .ant-progress-inner .ant-progress-text {
  color: #000000;
}
.moveTitle {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.moveImg {
  width: 180px;
  height: 280px;
}
.moveImg-box {
  grid-row: 1/-1;
}
.moveDate {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #827e7e;
}
.moveTagItem {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.65);
}

.moveOverview {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #000000;
  padding-right: 20px;
}

.moveRate {
  justify-self: center;
  align-self: end;
  padding-bottom: 18px;
  font-size: 18px;
}
.ant-pagination-item-active {
  background-color: #1890ff;
}
.ant-pagination-item-active a {
  color: #fff;
}
@media screen and (max-width: 576px) {
  .moveBox {
    min-width: 346px;
    grid-template-columns: 60px auto;
    padding: 5px 10px;
  }
  .moveImg-box {
    grid-row: 1/4;
  }
  .moveImg {
    width: 60px;
    height: 90px;
  }
  .moveOverview {
    grid-column: 1/-1;
  }
  .moveRate {
    grid-column: 1/-1;
    justify-self: end;
  }
}
